table tr td{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: white;
}
.header{
	height: 160px;	
}
.header .head_top{
	text-align: center;
	width: 100%;
	padding: 10px;
}
.header .head_title{
	font-family: initial;
	padding-top: 10px;
	font-size: 40px;
}
.header .head_left{
	float: left;
}
.header .head_right{
	float: right;
}
.header .question{
	margin: 0 auto;
	width: 90%;
	height: 83px;
	font-size: 23px;
	text-align: center;
}
.header .glyphicon{
	z-index: 6;
}
.content{
	height: 370px;
	padding-top: 40px;
}
.footer{
	height: 255px;
	padding-top: 10px;
}
.content_table{
	margin: 0 auto;
	padding: 0px;
	border-spacing: 10px;
	background-color: white;
	z-index: 6;
}
.content .content_td{
	width: 140px;
	height: 50px;
	border: 3px solid black;
	text-align: center;
	font-size: 30px;
}
.footer .key_num{
	margin: 6px auto;
	width: 399px;
}
.footer .char{
	display: inline-block;
	width: 130px;
	height: 50px;
	border: 3px solid pink;
	box-sizing: border-box;
	text-align: center;
	margin-right: 0px;
	padding: 10px 0px;
	background-color: pink;
}
.static_ul{
	background-color: royalblue;
	list-style-type: none;
	text-align: center;
	padding-left: 0px;
}
.static_data{
	display: inline-block;
	margin: 10px;
}
.share_result{
	color: royalblue;
	cursor: pointer;
}
.login_box{
	width: 350px;
	height: 200px;
	margin: 200px auto;
}
.form-control{
	width: 170px;
	margin-left: 20px;
}
.login-btn{
	width: 65px;
	margin-right: 30px;
}
.admin-btn{
	color: royalblue !important;
}
.admin-header{
	height: 65px;	
}
.admin-header .head_top{
	text-align: center;
	width: 100%;
	padding: 10px;
}
.admin-header .head_title{
	font-family: initial;
	padding-top: 10px;
	font-size: 40px;
}
.admin-header .head_left{
	float: left;
}
.admin-header .head_right{
	float: right;
}
.admin-header .glyphicon{
	z-index: 6;
}
.admin-content{
	height: 600px;
}
.admin-content .content_header{
	width: 47%;
	margin: 0 auto;
}
.admin-content .search_content{
	width: 82%;
	border: 1px solid black;
}
.admin-content .ul_question{
	list-style-type: none;
	width: 50%;
	margin: 0 auto;
	padding: 0px;
	overflow: scroll;
	height: 550px;
}
.admin-content .li_question{
	margin: 5px;
	 	padding: 17px;
}
.admin-content .li_right{
	float: right;
}
/*.content .btn{
	border: none;

}*/
.admin-footer{
	height: 255px;
	padding-top: 10px;
}


