<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>guess who am i</title>
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"/>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
	<style type="text/css">
		table tr td{
			padding: 0px;
			margin: 0px;
		}
		body{
			background-color: white;
		}
		.header{
			height: 160px;	
		}
		.header .head_top{
			text-align: center;
			width: 100%;
			padding: 10px;
		}
		.header .head_title{
			font-family: initial;
			padding-top: 10px;
			font-size: 40px;
		}
		.header .head_left{
			float: left;
		}
		.header .head_right{
			float: right;
		}
		.header .question{
			margin: 0 auto;
			width: 90%;
			height: 83px;
			font-size: 23px;
			text-align: center;
		}
		.header .glyphicon{
			z-index: 6;
		}
		.content{
			height: 370px;
			padding-top: 40px;
		}
		.footer{
			height: 255px;
			padding-top: 10px;
		}
		#content_table{
			margin: 0 auto;
			padding: 0px;
			border-spacing: 10px;
			background-color: white;
			z-index: 6;
		}
		.content .content_td{
			width: 140px;
			height: 50px;
			border: 3px solid black;
			text-align: center;
			font-size: 30px;
		}
		.footer .key_num{
			margin: 6px auto;
			width: 399px;
		}
		.footer .char{
			display: inline-block;
			width: 130px;
			height: 50px;
			border: 3px solid pink;
			box-sizing: border-box;
			text-align: center;
			margin-right: 0px;
			padding: 10px 0px;
			background-color: pink;
		}
		.static_ul{
			background-color: royalblue;
			list-style-type: none;
			text-align: center;
			padding-left: 0px;
		}
		.static_data{
			display: inline-block;
			margin: 10px;
		}
		.share_result{
			color: royalblue;
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div class="header">
		<div class="head_top">
			<span id="head_left" class="head_left">
	  				<span class="glyphicon glyphicon-off" aria-hidden="true" id="theme_turn"></span>
			</span>
			<span class="head_title">History_class</span>
			<span id="head_right" class="head_right">
				<!-- <button type="button" class="btn btn-default" aria-label="Left Align"> <a href="./login.html"> login </a></button> -->
				<button type="button" class="btn btn-default" aria-label="Left Align" id="logout" > <a href="/logout"> logout </a></button>
	  				<span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="modal"data-target="#game_shows"></span>
	  				<span class="glyphicon glyphicon-align-left" aria-hidden="true" id="static_turn"></span>
			</span>
		</div>
		<p id="question" class="question">When was the first industrial revolution in America,When was the first industrial revolution in,When was the first industrial revolution in,When was the first industrial revolution in?
		</p>
	</div>
	<div class="content"><table id="content_table"></table></div>
	<div class="footer">
		<div class="key_num">
			<span class="char">7</span>
			<span class="char">8</span>
			<span class="char">9</span>
		</div>
		<div class="key_num">
			<span class="char">4</span>
			<span class="char">5</span>
			<span class="char">6</span>
		</div>
		<div class="key_num">
			<span class="char">3</span>
			<span class="char">2</span>
			<span class="char">1</span>
		</div>
		<div class="key_num">
			<span class="char">ENTER</span>
			<span class="char">0</span>
			<span class="char">DELETE</span>
		</div>
	</div>
	<div class="modal fade" id="game_success" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Success</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body">
					Congratulations you answered right！Study hard, improve every day！<span class="share_result" id="success_share">share me XD!!!</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Understood</button>
				</div>
			</div>
		</div>
	</div> 
	<div class="modal fade" id="game_failed" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">failed</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body">
					Please start again, come on！！！！！！！<span class="share_result" id="failed_share">share me XD!!!</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.reload()">restart</button>
				</div>
			</div>
		</div>
	</div> 
	<div class="modal fade" id="game_shows" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">game_shows</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body">
					<p>Game description:</p>
					<p>1. Enter the year of the event according to the topic</p>
					<p>2. If the year is correct, the background color of the number will be gold, otherwise it will be red</p>
					<p>3. There are only six chances, and six wrong answers mean failure</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Understood</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="statistics" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">STATISTICS</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body">
					<ul class="static_ul">
						<li class="static_data"><span id="static_played">1</span><br/><span>Played</span></li>
						<li class="static_data"><span id="static_win">100%</span><br/><span>Win %</span></li>
						<li class="static_data"><span id="static_streak">1</span><br/><span>Max Streak</span></li>
						<li class="static_data"><span id="static_time">2mins</span><br/><span>Time</span></li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Understood</button>
				</div>
			</div>
		</div>
	</div>  
</body>
</html>
<script type="text/javascript">
	$(document).ready(function(){
		$('#game_shows').modal('show');
		var question_id = 0;
		var arr = [1,4,5,6];
		var theme_turn = false;
		var day = new Date();
		var start_time=day.getTime();
		var played = 0;
		var wined_count = 0;
		var streak = 0;
		var time = 0;

		function shareGrades(){
			let dom = document.createElement('input');
			dom.value = 'played:'+played+' wined_count:'+wined_count+' streak:'+streak+' time:'+time+' '+window.location.href;
			document.body.appendChild(dom);
			dom.select();
			document.execCommand("Copy"); 
			document.body.removeChild(dom);
			alert('cpoy success');
		}
		$("#success_share").click(function(){
			shareGrades();
		});

		$("#failed_share").click(function(){
			shareGrades();
		});

		function sendStatic(wined_count,streak){
			var end_time = day.getTime();
			$.ajax({
				url: '/static',
				type: 'post',
				dataType: 'json',
				data:{"question_id": question_id,  "question_time": (end_time - start_time)/60, "played": played +1,  "wined_count" : wined_count, "streak" : streak},
				success: function(problem, textStatus, xhr) {
				},
				error: function(xhr, textStatus, errorThrown) {
				}
			});	
		} 
		$.ajax({
			url: '/questions',
			type: 'GET',
			dataType: 'json',
			success: function(data, textStatus, xhr) {
				$("#question").text(data.question);
				question_id = data.question_id;
				arr = data.answer.split("");
				played = data.played;
				wined_count = data.wined_count;
				streak = data.streak;
				time = data.time;
			},
			error: function(xhr, textStatus, errorThrown) {
			}
		});
		var char_num = 4;
		var try_times = 6;
		var row_check = [];
		var answer = false;
		for(var i = 0; i < try_times; i++){
			row_check.push(0);
			var trs = $("<tr class='content_tr'></tr>");  
			for(var j = 0; j < char_num; j++){
				var tds = $("<td id='box_"+(i*char_num+j)+"'class='content_td'></td>").text("");
				trs.append(tds);
			}
			$("#content_table").append(trs);
		}
		var input_count = 0;
		$(".char").mouseover(function(){
			$(this).css({"cursor":"pointer"});
		});
		$(".char").click(function(){
			if(answer == true){
				return;
			}
			if(row_check[try_times-1] == 1){
				$("#game_failed").modal("show");
				return;
			}
			var key = $(this).text();
			if(key.length == 1){
				if(input_count == char_num * try_times){
				  	return;
				}
				if(input_count == 0){
			        $("#box_"+input_count).text(key);
			        input_count++;
			        return;
				}
				if(input_count % char_num == 0){
				    if(row_check[Math.floor((input_count -1)/char_num)] == 0){
				    	return;
				    }
			    }
				$("#box_"+input_count).text(key);
				input_count++;
			}else{
				if(key == "DELETE"){
					if(input_count == 0){
						return;
					}
					var row = Math.floor((input_count-1)/char_num);
					if(row_check[row] == 1){
						return;
					}else{
						if(input_count == row * char_num){
							return;
						}
						input_count--;
						$("#box_"+input_count).text("");
					}
				}else{
					if(input_count % char_num ==0){
						var row = Math.floor((input_count -1)/char_num);
						row_check[row] = 1;
						var right_answer = 0;
						for( var i = input_count - char_num, j=0; i<input_count; i++, j++){
							if($("#box_"+i).text() == arr[j]){
								$("#box_"+i).css({"background-color": "gold"});
								right_answer++;
							}else{
								if(arr.includes(parseInt($("#box_"+i).text()))){
									$("#box_"+i).css({"background-color": "green"});
								}else{
									$("#box_"+i).css({"background-color": "red"});
								}
							}
						}
						if(row == try_times-1 && right_answer < char_num ){
							sendStatic(0,0);
						}
						if(right_answer >= char_num){
							answer = true;
							for(var j = input_count; j< try_times*char_num; j++){
								$("#box_"+j).css({"background-color":"grey"});
							}
							$("#game_success").modal("show");
							sendStatic(1,row);
						}
						if(row_check[try_times-1] == 1){
							$("#game_failed").modal("show");
							return;
						}
					}
				}
			}

		});
		$("#theme_turn").click(function(){
			if(theme_turn == false ){
				theme_turn = true;
				$("#content_table").css({"background-color": "blue"});
				$("body").css({"background-color": "#121213"});
				$(".head_title").css({"color": "blue"});
				$(".question").css({"color": "blue"});
				$(".char").css({"color": "blue"});
				$(".glyphicon").css({"color": "blue"});
			}else{
				theme_turn = false;
				for(var j = input_count; j< try_times*char_num; j++){
					$("#box_"+j).css({"color":"white"});
				}
				$("body").css({"background-color": "white"});
				$(".head_title").css({"color": "black"});
				$(".question").css({"color": "black"});
				$(".char").css({"color": "black"});
				$(".glyphicon").css({"color": "black"});
				$("#content_table").css({"background-color": "white"});
			}
		});
		$("#static_turn").click(function(){
			$("#static_played").text(played);
			$("#static_win").text((wined_count/played * 100) + "%");
			$("#static_streak").text(streak);
			$("#static_time").text(time);
			$('#statistics').modal('show');
		});
	});
</script>