<html lang="en">
	<head>
		<title>login</title>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<style type="text/css">
			.login_box{
				width: 350px;
				height: 200px;
				margin: 200px auto;
			}
			.form-control{
				width: 170px;
				margin-left: 20px;
			}

		</style>
	</head>
	<body>
		<div class="login_box">
			<form class="form-horizontal">
		  		<div class="form-group">
		    		<label for="username" class="col-sm-2 control-label">username</label>
		    		<div class="col-sm-10">
		    			<input type="text" class="form-control" id="username" placeholder="username">
	    			</div>
	  			</div>
	  			<div class="form-group">
	    			<label for="password" class="col-sm-2 control-label">password</label>
	    			<div class="col-sm-10">
	      				<input type="password" class="form-control" id="password" placeholder="password">
	    			</div>
	  			</div>
	  			<div class="form-group">
	    			<div class="col-sm-offset-2 col-sm-10">
	      				<button id="submit" class="btn btn-default">login</button>
	      				<a href="/register"><input type="button" id="register" class="btn btn-default" value="register"></a>
	    			</div>
	  			</div>
			</form>
		</div>
	</body>
</html>
<script type="text/javascript">
	$(document).ready(function(){
		$("#submit").click(function(){
			var username = $("#username").val();
			var password = $("#password").val();
			if(username.length > 20){
				alert("The length of the user name cannot over 20 characters")；
				return；
			}
			$.ajax({
			  url: '',
			  type: 'POST',
			  dataType: 'json',
			  data: {'username': username, 'password': password},
			  success: function(data, textStatus, xhr) {
			    //called when successful
			  },
			  error: function(xhr, textStatus, errorThrown) {
			    //called when there is an error
			  }
			});
			

		});

	});
</script>